{% extends "base.html" %}


{% block content %}

<div class="column is-4 is-offset-4">
    <h1>Account entsperren</h1>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/admin/dashboard/unlock_account">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required>
                </div>
            </div>
            <button class="button is-block is-success is-large is-fullwidth">Account entsperren</button>
        </form>
    </div>
</div>
{% endblock %}