{% extends "base.html" %}


{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Vertragsmodelle verwalten</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/admin/dashboard/change_contract">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Vertragsmodell auswählen:</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="contract" value="1" required> 1. Vertragsmodell
                    </label>
                    <label class="radio">
                        <input type="radio" name="contract" value="2" required> 2. Vertragsmodell
                    </label>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Vertragsmodell zuweisen</button>
        </form>
    </div>
</div>
{% endblock %}