{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}

<div class="container mt-5">
    <h3>Deine Smartmeter</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Kosten</th>
          <th>Counter</th>
          <th>Timestamp</th>
          <th>UUID</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td>{{ item.contract }}</td>
            <td>{{ item.counter }}</td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.uuid }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}